*{
    font-style:poppins;
    margin: 0;
}
nav{
    display: flex ;
    justify-content: space-between;
    margin-bottom: 30px;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
}
.nav-bar li{
    padding: 25px;
    list-style: none;
    font-size: 30px;
}
.nav-bar li:hover{
    border-bottom: 5px solid orange;
}
.header_logo{
    display: flex;
    justify-content: space-around;
}
.header_logo h3{
    font-size: 45px;
}.btn{
   background: #F6B400;
   font-size: 16px;
   padding: 16px 30px;
  border: none;
  border-radius: 30px;
  border-bottom-right-radius: 0;
}
.description{
    float: left;
    font-size: 30px;
    margin-right: 20%;
    margin-left: 10%;
    padding-top: 200px;
}
.description button{
    margin-top: 50px;
}
.description p{
    margin-top: 50px;
}