*{
    font-style:poppins;
    margin: 0;
}
nav{
    display: flex ;
    justify-content: space-between;
    margin-bottom: 30px;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
}
.nav-bar li{
    padding: 25px;
    list-style: none;
    font-size: 30px;
}
.nav-bar li:hover{
    border-bottom: 5px solid orange;
}
.header_logo{
    display: flex;
    justify-content: space-around;
}
.header_logo h3{
    font-size: 45px;
}.btn{
   background: #F6B400;
   font-size: 16px;
   padding: 16px 30px;
  border: none;
  border-radius: 30px;
  border-bottom-right-radius: 0;
}
.description{
    float: left;
    font-size: 30px;
    margin-right: 20%;
    margin-left: 10%;
    padding-top: 200px;
}
.description button{
    margin-top: 50px;
}
.description p{
    margin-top: 50px;
}
.img{
   height: 300px;
}
.content-1{
    clear: both;
    display: flex;
    justify-content: space-around;
    margin-top: 400px;
}
.box{
    border: 2px solid brown;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
}
#center-box{
    padding: 100px 10px;
}
.content-2{
    margin-top: 100px;
}
.content-2 h2{
text-align: center;
}
.feature{
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature h3{
    text-align: center;
}
.box-2{
    margin-top: 50px;
    width: 300px;
    padding-right: 20px;
    border: 2px solid grey;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    height: 400px;
}
.part-2{
    margin: 150px;
    
}
.content-3{
    float: left;
    margin-right: 20%;
    margin-left: 80px;
    font-size: 30px;
}
#img-3{
    position: absolute;
    left: 50%;
    margin-bottom: -150;
}
.color-2{
    color: #F6B400;
}
.part-3{
    margin-top: 50px;
    background-color: #F6B400;
    height: 700px;
}
.footer-1{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.footer-1 li{
    list-style: none;
}
.footer-2{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.footer-1 color{
   color: #F6B400;
}
.color-2{
    color: #F6B400;
}
.feature-3{
    margin-top: 45px;
  font-family: poppins;
}